<h2 class="h1 font-weight-bold text-center" style="padding-top: 150px">Contact</h2>
    <p class="text-center w-responsive mx-auto mb-5">Pour nous faire un coucou</p>
    <div class="container">
    <div class="row">
  
      <div class="col-md-12 text-center">
        <ul class="list-unstyled mb-0">
          <li><i class="fas fa-map-marker-alt fa-2x"></i>
            <p> Discord THP </p>
          </li>

          <li><i class="fas fa-phone mt-4 fa-2x"></i>
            <p> Vocal 22 le plus souvent</p>
          </li>

          <li><i class="fas fa-envelope mt-4 fa-2x bd"></i>
            <p> projetgossip@gmail.com</p>
          </li>
          <li><i class="fas fa-envelope mt-4 fa-2x"></i>
            <p> A bientôt !</p>
          </li>
        </ul>
      </div>
    </div>
     </div>
